/* ----------------------------------------------------------------

  Table Of Content

	01 0 bronca B)
	02 Header
	03 Description
  	04 Quote
  	05 Portfolio
	06 doidera
	07 Footer
	08 Responsive
 

---------------------------------------------------------------- */
/* ----------------------------------------------------------------
     [ 01 0 bronca B) ]
-----------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none !important;
  list-style: none;
}

body {
  color: #00000a;
  line-height: 1.3;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden !important;
}

h1, h2,h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
 
}
.secao{
padding:30px;
background-color:#000000;	
	
	
	
}	
.ptroll {
  text-align: center;
	
}
.ptroll2 {
text-align: center;	
	
}
.ptroll4 {
position: relative	
left: 30px	

}

p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  word-spacing: 1px;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

span, a, a:hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.section-head {
  margin-bottom: 80px;
}
.section-head h4 {
  position: relative;
  padding: 0 0 0 15px;
  line-height: 1;
  border-left: 1px solid #eee;
  letter-spacing: 2px;
  font-size: 38px;
  font-weight: 700;
}
.section-head h4:before {
  content: '';
  width: 1px;
  height: 35px;
  background: #F24259;
  position: absolute;
  left: -1px;
  bottom: 0;
}
.section-head h4 span {
  font-weight: 200;
  padding-bottom: 5px;
}

.bg-gray {
  background: #f7f7f7;
}
.bg-gray .owl-theme .owl-dots .owl-dot span {
  background: #777;
}

.o-hidden {
  overflow: hidden;
}

.position-re {
  position: relative;
}

.full-width {
  width: 100% !important;
  
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.section-padding {
  padding: 100px 0;
}

.valign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.v-middle {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;

}

@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}
.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* xclip */
.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  width: 2px;
  height: 70%;
  background-color: #aebcb9;
  text-align: center;
}
.ptroll3 {
	text-align: center;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
  font-weight: 900;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: gray;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #000;
}

/* ----------------------------------------------------------------
     [ GAME OVER: My everything <3]
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
     [ 03 Start Header ]
-----------------------------------------------------------------*/
.header {
  min-height: 100vh;
  overflow: hidden;
}
.header .caption .o-hidden {
  display: inline-block;
}
.header .caption h3 {
  font-weight: 200;
  
  letter-spacing: 3px;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}
.header .caption h1 {
  margin: 10px 0;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}
.header .caption h1 b {
  color: #fff;
}
.header .caption p {
  font-size: 16px;
  color: #eee;
  word-spacing: 2px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.header .caption .butn {
  padding: 10px 30px;
  border: 1px solid #eee;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  margin: 30px 2px 0;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
	width: 20; 	  
}
.header .caption .butn:after {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 100%;
  z-index: 1;
  background: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .caption .butn:hover {
  border-color: white;
}

.header .caption .butn:hover:after {
  width: 100%;
  left: 0;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.header .caption .butn:hover span {
  color: #1c1c1c;
}
.header .caption .butn span {
  position: relative;
  z-index: 2;
}
.header .caption .butn-bg {
   background: #fff;
   border-color: #fff;
 }

.header .caption .butn-bg span {
  color: #000;
}
.header .arrow {
  position: absolute;
  bottom: 5vh;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 13px;
  z-index: 8;
}
.header .arrow i {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.header .arrow i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.header .arrow i:hover:after {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.slider .arrow, .slider-fade .arrow {
  display: none !important;
}
.slider .owl-item, .slider-fade .owl-item {
  height: 100vh;
  position: relative;
}
.slider .item, .slider-fade .item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
}
.slider .item .caption, .slider-fade .item .caption {
  z-index: 9;
}
.slider .owl-theme .owl-dots, .slider-fade .owl-theme .owl-dots {
  position: absolute;
  bottom: 5vh;
  width: 100%;
}

.creative {
  min-height: 100vh;
}
.creative .svg {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  z-index: 2;
}
.creative .svg svg {
  fill: #fff;
  width: 101%;
}

.bg-vid {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  
}

/* ----------------------------------------------------------------
                            [ GAME OVER: Header ]
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
     [ 04 START: Description ]
-----------------------------------------------------------------*/
.description p{
  text-align: center;
}

.description h4{
  text-align: center;
  margin-top: 10px;
}

.description .extra-text {
  font-weight: 200;
  margin-bottom: 25px;
  text
}
.description .extra-text span {
  font-weight: 700;
}
.description .item {
  background: #fff;
  text-align: center;
  padding: 30px 15px;
  -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
          box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
  border-radius: 5px;
  margin-bottom: 30px;
}

.description .item h6 {
  margin-bottom: 15px;
}

.container_1 {
  width: 100%;
}
.container_2 {
	width: 100%;
}
.container_3{
position:center;
width:100%
}
/* ----------------------------------------------------------------
     [ 05 Start Portfolio ]
-----------------------------------------------------------------*/
.portfolio_section{
  padding: 5%;
  text-align: center;
}

/* ROW */
* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* create two equal columns */
.portfolio_column{
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}
.portfolio_column img,
.portfolio_column *{
  margin-top: 8px;
  vertical-align: middle;
}

.portfolio_img{
  padding: 5px;
  width: 200px;
  height: auto;
}

/* ----------------------------------------------------------------
                      [ END: Portfolio ]
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
     [ 06 Start doidera ]
-----------------------------------------------------------------*/
.doidera{
  width: 150px;
  height: 250px;
  position: absolute;
  right: 0px;
}

.doidera_img{
  display:none;
  width: 100%;
}
/* ----------------------------------------------------------------
                      [ END: doidera ]
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
     [ 05 Start Quote ]
-----------------------------------------------------------------*/
.quote {
  background-attachment: fixed;
}
.quote p .icon {
  font-size: 30px;
  margin: 0 15px;
  padding: 0;
  opacity: .3;
  line-height: 1;
  color: #fff;
}
.quote p {
  font-size: 25px;
  font-style: italic;
  color: #fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.quote h5 {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin: 15px 0 10px;
}

.parallax {
  background-image: url("../img/computer.jpg");
  filter: blur(0px) grayscale(100%) opacity(90%) brightness(90%);
  min-height: 300px; 

  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


/* ----------------------------------------------------------------
     [ GAME OVER: Quote ]
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
     [ 10 START: Schizophrenia]
-----------------------------------------------------------------*/
.team .titem .schizophrenia-img {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  margin: auto;
  filter: grayscale(100%) opacity(90%) brightness(90%);
}
.team .titem .schizophrenia-img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.team .titem img {
  -webkit-transition: all .5s;
  transition: all .5s;
}
.team .titem h6 {
  font-size: 18px;
  font-weight: 600;
  font-family: inherit;
  margin: 20px 0 10px;
}
.team .titem span {
  font-size: 14px;
  color: #959595;
}
.team .titem .social {
  margin: 15px 0;
}
.team .titem .social a {
  margin: 0 5px;
}

/* ----------------------------------------------------------------
     [ GAME OVER: Schizophrenia ]
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
     [ 13 Start Blog ]
-----------------------------------------------------------------*/
.blog .item {
  -webkit-box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
          box-shadow: 0px 5px 35px 0px rgba(148, 146, 245, 0.15);
  border-radius: 5px;
}
.blog .item .post-img {
  position: relative;
  overflow: hidden;
}
.blog .item .post-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.blog .item .post-img img {
  -webkit-transition: all .5s;
  transition: all .5s;
}
.blog .item .post-img .date {
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 15px;
  background: #111;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
}
.blog .item .post-img .date span {
  display: block;
  font-weight: 700;
  font-size: 12px;
}
.blog .item .content {
  padding: 40px 5px;
  background: #fff;
}
.blog .item .content .tag {
  color: #F24259;
  font-weight: 600;
  margin-bottom: 10px;
}
.blog .item .content h5 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

.blog-nav {
  position: static !important;
  background: #fff !important;
  margin: 0;
}
.blog-nav .logo {
  color: #1c1c1c !important;
}
.blog-nav .navbar-nav li a {
  color: #1c1c1c !important;
  font-weight: 500;
}

.min-header {
  height: 50vh;
  background: #1c1c1c;
  position: relative;
}
.min-header .v-middle{
  z-index: 4;
}
.min-header h5 {
  font-weight: 700;
  letter-spacing: 1px;
  color: #ccc;
  margin-bottom: 15px;
}
.min-header .path{
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  background: rgba(100,100,100,.2);
}
.min-header span {
  position: relative;
  color: #ddd;
  font-style: italic;
  line-height: 1.7;
}
.min-header span:after {
  content: '>>';
  position: relative;
  margin: 0 10px;
}
.min-header span:last-child:after {
  display: none;
}

.blogs .posts .post {
  margin-bottom: 50px;
  border-bottom: 1px solid #eee;
}
.blogs .posts .post .content {
  padding: 50px 15px;
  background: #fff;
}
.blogs .posts .post .content .post-title h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.blogs .posts .post .content .meta {
  margin-bottom: 20px;
}
.blogs .posts .post .content .meta li {
  display: inline-block;
  font-size: 12px;
  color: #777;
  margin: 5px;
}
.blogs .posts .post .content p {
  font-weight: 300;
}
.blogs .posts .post .content .spical {
  padding: 15px;
  margin: 30px 0;
  border-left: 2px solid #111;
  background: #f7f7f7;
  font-size: 16px;
}
.blogs .posts .post .content .butn {
  display: inline-block;
  margin-top: 30px;
  padding: 8px 30px;
  border: 2px solid #ddd;
  font-weight: 500;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.blogs .posts .post .content .butn:hover {
  background: #F24259;
  border-color: #F24259;
  color: #fff;
}
.blogs .posts .post .share-post {
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px dashed #eee;
  text-align: left;
}
.blogs .posts .post .share-post span {
  font-weight: 700;
}
.blogs .posts .post .share-post ul {
  float: right;
}
.blogs .posts .post .share-post ul li {
  display: inline-block;
  margin: 0 10px;
}
.blogs .posts .title-g h3 {
  font-weight: 800;
  font-size: 25px;
  
}
.blogs .posts .comments-area .comment-box {
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-bottom: 1px solid #eee;
}
.blogs .posts .comments-area .comment-box:nth-child(odd) {
  margin-left: 80px;
}
.blogs .posts .comments-area .comment-box:last-child {
  margin-bottom: 0;
}
.blogs .posts .comments-area .comment-box .author-thumb {
  width: 80px;
  float: left;
}
.blogs .posts .comments-area .comment-box .comment-info {
  margin-left: 100px;
}
.blogs .posts .comments-area .comment-box .comment-info h6 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.blogs .posts .comments-area .comment-box .comment-info .reply {
  margin-top: 10px;
  font-weight: 600;
}
.blogs .posts .comments-area .comment-box .comment-info .reply i {
  padding-right: 5px;
  font-size: 12px;
}
.blogs .posts .comment-form .form input[type='text'],
.blogs .posts .comment-form .form input[type='email'],
.blogs .posts .comment-form .form textarea {
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  background: #f4f4f4;
}
.blogs .posts .comment-form .form textarea {
  height: 160px;
  max-height: 160px;
  max-width: 100%;
}
.blogs .posts .comment-form .form button[type='submit'] {
  background: #F24259;
  border: 1px solid #F24259;
  color: #fff;
  padding: 10px 30px;
  margin-top: 15px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.blogs .posts .comment-form .form button[type='submit']:after {
  content: '';
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 100%;
  z-index: 1;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blogs .posts .comment-form .form button[type='submit'] span {
  position: relative;
  z-index: 2;
}
.blogs .posts .comment-form .form button[type='submit']:hover:after {
  width: 100%;
  left: 0;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.blogs .posts .comment-form .form button[type='submit']:hover span {
  color: #F24259;
}
.blogs .posts .pagination {
  display: block;
  text-align: center;
}
.blogs .posts .pagination li {
  display: inline-block;
  padding: 5px 10px;
  margin: 2px;
  border: 1px solid #ddd;
}
.blogs .side-bar .widget {
  margin-bottom: 50px;
}
.blogs .side-bar .widget:last-child {
  margin-bottom: 0;
}
.blogs .side-bar .widget .widget-title {
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
}
.blogs .side-bar .widget .widget-title h6 {
  position: relative;
  padding-bottom: 15px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.blogs .side-bar .widget .widget-title h6:after {
  content: '';
  width: 30px;
  height: 1px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
.blogs .side-bar .widget li {
  margin-bottom: 10px;
  color: #777;
}
.blogs .side-bar .widget li:last-child {
  margin: 0;
}
.blogs .side-bar .search form input {
  width: calc(100% - 52px);
  height: 50px;
  padding: 0 10px;
  border: 0;
  background: #f7f7f7;
}
.blogs .side-bar .search form button {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #1c1c1c;
  color: #fff;
  border: 0;
  float: right;
}

/* ----------------------------------------------------------------
     [ End Blog ]
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
     [ 16 Start Footer ]
-----------------------------------------------------------------*/
footer {
  background: #111;
  padding: 80px 0;
}
footer .social a {
  color: #fff;
  font-size: 18px;
  margin: 15px 10px;
}
footer p {
  color: #fff;
  font-weight: 700;
}

/* ----------------------------------------------------------------
     [ End Footer ]
-----------------------------------------------------------------*/
/* ----------------------------------------------------------------
 	 [ 17 Responsive ]
-----------------------------------------------------------------*/
@media screen and (max-width: 991px) {
  .mb-md50 {
    margin-bottom: 50px;
  }

  .mb-md30 {
    margin-bottom: 30px;
  }

  .mb-md0 {
    margin-bottom: 0;
  }

  .header .caption h2 {
    font-size: 30px;
  }
  .header .caption h1 {
    font-size: 50px;
  }
  .header .caption p {
    font-size: 16px;
  }
  
  .information .info{
    margin-bottom: 30px;
  }

  .information{
    padding-bottom: 50px;
  }

}
@media screen and (max-width: 767px) {
  .mb-sm50 {
    margin-bottom: 50px;
  }

  .mb-sm30 {
    margin-bottom: 30px;
  }

  .nav-scroll{
    padding-left: 15px;
  }

  .header .caption h3{
    font-size: 20px;

  }

  .header .caption h1{
    font-size: 30px;
  }
}
@media screen and (max-width:400px){
  .header .caption h1 {
    font-size: 25px;
  }
}